body{
    margin: 0;
}
#body{
    margin: 0;
    overflow: hidden;
}
#header{
    background: url(../img/bg-head.jpg);	
    width: 100%;
    color: #fff;
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
#top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0;
    color: #fff;
}
#top-menu li a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
#top-menu li a:hover{
    color: #dedede;
    transition: .2s;

}
#menu-header{
    width: 500px;
    margin: auto;
    padding-top:10px;
    padding-bottom:10px;
}
.active{
    background-color: #2EE59D;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}



#slideshow-wrap {
    display: block;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    top: 0px;
    transition: left 0.5s ease-out;
    padding-left: 0
}

#slideshow-inner>ul>li {
    width: 20%;
    float: left;
    position: relative;
    bottom: 5px;
}

#slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
    width: 567px;
    height: 486px;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    top: 600px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label {
    position: absolute;
    left: 50%;
    top: 600px;
    bottom: 15px;
    z-index: 10000000000000;
    width: 12px;
    height: 12px;
    background-color: #2EE59D;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
}



#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgb(1 164 216) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgb(1 164 216) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgb(1 164 216) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }
#bg-slider{
    top: -327px;
    z-index: -2;
    height: 100%;
    width: 100%;
    position: relative;
}
#zatem{
    z-index: -1;
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    background-color: #0000008c;
}
.heading{
    font-size: 48px;
    color: #fff;
}
.heading-text{
    font-size: 24px;
    color: #fff;
}
.description-text{
    text-align: center;
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
.description{
    text-align: center;
}
.leftimg{
    float: left;
    width:410px; 
    height:301px;
    margin: -1px 15px 0 0;
}
.rightimg{
    float: right;
    width:410px; 
    height:301px;
    margin: -1px 0px 0 15px;
}
#wrapper-ap{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 1300px;
    margin: auto;
}
#wrapper-ap h1{
    font-family: 'Pacifico', cursive;
    margin-bottom: 70px;
}
.hr{
    width: 1300px;
    background-color:#676767;
    height: 2px;
    margin-top: 78px;
}
.p{
    height: 30px;
    margin: 0;
}
#text2{
    margin-top: -1px;
}
.p1{
    height: 28px;
    margin: 0;
}
.text-block{
    height: 220px;
}
.p2{
    height: 5px;
    margin: 0;
}
.h{
    margin: 0;
    font-family: 'Pacifico', cursive;
    margin-left: 460px;
    margin-bottom: 25px;
}
.h-l{
    margin: 0;
    font-family: 'Pacifico', cursive;
    margin-left: 80px;
    margin-bottom: 25px;
}
.type-text-right{
    margin-top: 10px;
    margin-left: 460px;
    width: 710px;
}
.type-text-left{
    margin-top: 10px;
    margin-left: 80px;
    width: 710px;
}
.text-right{
    width: 710px;
    margin-left: 460px;
}
.text-left{
    width: 775px;
    margin-left: 80px;
}
#block_med{
    width: 500px;
    height: 200px;
    display: none;
    margin: auto;
    margin-top: 90px;
    font-size: 18px;
    text-align: center;
    box-shadow: 5px 5px 16px -14px #9d9d9d;
}
footer{
    background: url(../img/bg-head.jpg);
    margin-top: 100px;
}
.footer{
    width: 500px;
    margin: auto;
    text-align: center;
    color: #fff;
}
.footer h1{
    padding-top: 30px;
    padding-bottom: 30px; 
}


@media screen and (max-width: 1024px) and (min-width: 769px){
    #slideshow-wrap, #zatem, #bg-slider{
        display: none;
    }
    #top-menu li a {
        font-size: 22px;
    }
    #body{
    overflow: auto;
    }
    #block_med{
        display: block;
    }
    .leftimg {
        width: 310px;
        height: 231px;
    }
    .rightimg {
        width: 310px;
        height: 231px;
    }
    .type-text-right{
        width: 665px;
        margin-left: 340px;
    }
    .h {
    margin-left: 340px;
    margin-bottom: 0px;
}
.h-l{
    margin-left: 30px;
    margin-bottom: 0px;
}
.type-text-left{
    width: 660px;
        margin-left: 30px;
}
    .text-right {
        width: 620px;
        margin-left: 340px;
    }
    .text-left {
        width: 660px;
        margin-left: 30px;
    }
    .p {
    height: 1px;
}
#menu-header{
    width: 700px;
}
#wrapper-ap{
    width: 100%
}
.p1 {
    height: 1px;
}
.hr {
    width: 100%;
    margin-top: 9px;
}
#wrapper-ap h1 {
    margin-bottom: 50px;
}
footer {
    margin-top: 60px;
}
}
@media screen and (max-width: 768px) and (min-width: 600px){
    #slideshow-wrap, #zatem, #bg-slider{
        display: none;
    }
    #body{
    overflow: auto;
    }
    #block_med{
        display: block;
    }
    #menu-header{
        width: 550px;
    }
    #top-menu li a {
        font-size: 20px;
    }
    .footer h1{
        font-size: 20px;
    }
    #top-menu li a {
        font-size: 20px;
    }
    #menu-header{
    width: 600px;
}
#wrapper-ap{
    width: 100%
}
.p1 {
    height: 8px;
}
.p {
    height: 10px;
}
.leftimg {
    width: 210px;
    height: 153px;
    margin: 70px 15px 1px 10px;
}
.rightimg {
    width: 210px;
    height: 153px;
    margin: 70px 15px 1px 10px;
}
    .type-text-right{
        width: 500px;
        margin-left: 240px;
    }
    .h {
    margin-left: 240px;
    margin-bottom: 0px;
}
.h-l{
    margin-left: 15px;
    margin-bottom: 0px;
}
.type-text-left{
    width: 500px;
        margin-left: 15px;
}
.text-right {
    width: 500px;
    margin-left: 240px;
}
.text-left {
    width: 500px;
    margin-left: 15px;
}
.hr {
    width: 100%;
}
#wrapper-ap h1 {
    margin-bottom: 10px;
}
}
@media screen and (max-width: 600px) and (min-width: 415px){
    #slideshow-wrap, #zatem, #bg-slider{
        display: none;
    }
    #body{
    overflow: auto;
    }
    #block_med{
        display: block;
        width: 400px;
        font-size: 14px;
    }
    #menu-header{
        width: 400px;
    }
    #top-menu li a {
        font-size: 15px;
    }
    .footer h1{
        font-size: 20px;
    }
    .footer{
        width: 100%;
    }
    #menu-header{
        width: 550px;
    }
    #top-menu li a {
        font-size: 20px;
    }
    .footer h1{
        font-size: 20px;
    }
    #top-menu li a {
        font-size: 20px;
    }
    #menu-header{
    width: 600px;
}
#wrapper-ap{
    width: 100%
}
.p1 {
    height: 8px;
}
.p {
    height: 10px;
}
.leftimg {
    width: 210px;
    height: 153px;
    margin: 70px 15px 1px 10px;
}
.rightimg {
    width: 210px;
    height: 153px;
    margin: 70px 15px 1px 10px;
}
    .type-text-right{
        width: 500px;
        margin-left: 240px;
    }
    .h {
    margin-left: 240px;
    margin-bottom: 0px;
}
.h-l{
    margin-left: 15px;
    margin-bottom: 0px;
}
.type-text-left{
    width: 500px;
        margin-left: 15px;
}
.text-right {
    width: 500px;
    margin-left: 240px;
}
.text-left {
    width: 500px;
    margin-left: 15px;
}
.hr {
    width: 100%;
}
#wrapper-ap h1 {
    margin-bottom: 10px;
}

}

@media screen and (max-width: 415px) and (min-width: 376px){
    #slideshow-wrap, #zatem, #bg-slider{
        display: none;
    }
    #body{
    overflow: auto;
    }
    #block_med{
        display: block;
        width: 350px;
        font-size: 12px;
    }
    #menu-header{
        width: 360px;
    }
    #top-menu li a {
        font-size: 14px;
    }
    .footer h1{
        font-size: 20px;
    }
    .footer{
        width: 100%;
    }
    .floating-button{
        width: 180px;
        height: 40px;
        line-height: 40px;
        font-size: 10px;
        letter-spacing: 2px;
    }
#wrapper-ap{
    width: 100%
}
.p1 {
    height: 8px;
}
.p {
    height: 10px;
}
.leftimg {
    float: none;
    width: 280px;
    height: 190px;
    margin: 70px 15px 1px 70px;
}
.rightimg {
    float: none;
    width: 280px;
    height: 190px;
    margin: 50px 15px 1px 70px;
}
.text-block{
    height: 100%;
}
    .type-text-right{
        width: 400px;
        margin-left: 13px;
    }
    .h {
    margin-left: 175px;
    margin-bottom: 0px;
}
.h-l{
    margin-left: 175px;
    margin-bottom: 0px;
}
.type-text-left{
    width: 400px;
        margin-left: 13px;
}
.text-right {
    width: 400px;
    margin-left: 10px;
}
.text-left {
    width: 400px;
    margin-left: 10px;
}
.hr {
    display: none;
}
#wrapper-ap h1 {
    margin-bottom: 0px;
}
footer {
    margin-top: 50px;
}
#med{
    margin-left: 100px;
}
#com{
    margin-left: 100px;
}
}
@media screen and (max-width: 376px) and (min-width: 350px){
    #slideshow-wrap, #zatem, #bg-slider{
        display: none;
    }
    #body{
    overflow: auto;
    }
    #block_med{
        display: block;
        width: 350px;
        font-size: 12px;
    }
    #menu-header{
        width: 340px;
    }
    #top-menu li a {
        font-size: 13px;
    }
    .footer h1{
        font-size: 20px;
    }
    .footer{
        width: 100%;
    }
    .floating-button{
        width: 180px;
        height: 40px;
        line-height: 40px;
        font-size: 10px;
        letter-spacing: 2px;
    }
    #wrapper-ap{
    width: 100%
}
.p1 {
    height: 8px;
}
.p {
    height: 10px;
}
.leftimg {
    float: none;
    width: 280px;
    height: 190px;
    margin: 70px 1px 1px 40px;
}
.rightimg {
    float: none;
    width: 280px;
    height: 190px;
    margin: 50px 1px 1px 40px;
}
.text-block{
    height: 100%;
}
    .type-text-right{
        width: 345px;
        margin-left: 15px;
    }
    .h {
    margin-left: 150px;
    margin-bottom: 0px;
}
.h-l{
    margin-left: 150px;
    margin-bottom: 0px;
}
.type-text-left{
    width: 345px;
        margin-left: 15px;
}
.text-right {
    width: 345px;
    margin-left: 15px;
}
.text-left {
    width: 345px;
    margin-left: 15px;
}
.hr {
    display: none;
}
#wrapper-ap h1 {
    margin-bottom: 0px;
}
footer {
    margin-top: 50px;
}
#med{
    margin-left: 75px;
}
#com{
    margin-left: 75px;
}
}
@media screen and (max-width: 350px) and (min-width: 320px){
    #slideshow-wrap, #zatem, #bg-slider{
        display: none;
    }
    #block_med{
        display: block;
        width: 310px;
        font-size: 11px;
    }
    #menu-header{
        width: 310px;
    }
    #top-menu li a {
        font-size: 12px;
    }
    .footer h1{
        font-size: 18px;
    }
    #body{
    overflow: auto;
    }
    .footer{
        width: 100%;
    }
    .floating-button{
        width: 180px;
        height: 40px;
        line-height: 40px;
        font-size: 10px;
        letter-spacing: 2px;
    }
        #wrapper-ap{
    width: 100%
}
.p1 {
    height: 8px;
}
.p {
    height: 10px;
}
.leftimg {
    float: none;
    width: 280px;
    height: 190px;
    margin: 70px 1px 1px 20px;
}
.rightimg {
    float: none;
    width: 280px;
    height: 190px;
    margin: 50px 1px 1px 20px;
}
.text-block{
    height: 100%;
}
.type-text-right{
        width: 300px;
        margin-left: 15px;
    }
    .h {
    margin-left: 130px;
    margin-bottom: 0px;
}
.h-l{
    margin-left: 130px;
    margin-bottom: 0px;
}
.type-text-left{
    width: 300px;
        margin-left: 15px;
}
.text-right {
    width: 300px;
    margin-left: 15px;
}
#med{
    margin-left: 50px;
}
#com{
    margin-left: 50px;
}
.text-left {
    width: 300px;
    margin-left: 15px;
}
.hr {
    display: none;
}
#wrapper-ap h1 {
    margin-bottom: 0px;
}
footer {
    margin-top: 50px;
}
}
